@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {box-sizing: border-box;}
body {
  color: white;
  font-family: Montserrat;
}
.logo{background-color:#FFFFFF;cursor: pointer;}
.logo a:hover{
    border: none;
    padding: 0;
}
.topnav {
  overflow: hidden;
  background-color:#FFFFFF;
}

.topnav a {
  float: right;
  font-size: 16px;
  color: #BF5300;
  text-align: center;
  padding: 0px 12px;
  font-style: bold;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.topnav a:hover {
    background-color:blue;
    border: 1px solid #FFFFFF;
    padding: 5px;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
.topnav.responsive {position: relative; padding-bottom: 50px;}
.topnav.responsive .icon {
    float: right;
    top: 145px;
 }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 3px 0px;
    margin-top: 5px;
  }
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  float: right;
  width: 400px;
  height: 650px;
  background-color: 
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #BF5300;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

input {
    color: darkgray;
    border-radius: 5px;
    margin-top: 40px;
  }
}

    /* styles for wide screens */
}
@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}
img.smallscreen { display: none; }
        @media only screen and (max-width: 320px) {
            img { 
                display: none; 
            }
            img.smallscreen { 
                display: inline; 
            }
        }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
body{
  background-image: url(https://res.cloudinary.com/enema/image/upload/v1569485002/ClassBGLogin_l9dhub.png);
}
/*this is a footer*/
footer{
  position: relative;
  color: white;
  background-color: #59411C;
  bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    float: left;

}
}
h3{
  font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24.6999px;
line-height: 33px;
color: #000000;
/* identical to box height */
}
h2{
  font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 24.6999px;
line-height: 33px;
color: #BF5300;
position: absolute;
top: 150px;
}
