@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {box-sizing: border-box;}
body {
	color: white;
	font-family: Montserrat;
}
.logo{background-color:#FFFFFF;cursor: pointer;}
.logo a:hover{
    border: none;
    padding: 0;
}
.topnav {
  overflow: hidden;
  background-color:#FFFFFF;
}

.topnav a {
  float: right;
  font-size: 16px;
  color: #BF5300;
  text-align: center;
  padding: 0px 12px;
  font-style: bold;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.topnav a:hover {
    background-color:blue;
    border: 1px solid #FFFFFF;
    padding: 5px;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
.topnav.responsive {position: relative; padding-bottom: 50px;}
.topnav.responsive .icon {
    float: right;
    top: 145px;
 }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 3px 0px;
    margin-top: 5px;
  }
}
body {
    background-image: linear-gradient(90deg,
        #59411C 20%,
        #BF5300 80%);}

body {
 background-image: url("https://res.cloudinary.com/enema/image/upload/v1569485002/ClassBGLogin_l9dhub.png");}
 @media only screen and (min-width: 1200px) {
    /* styles for wide screens */
}
@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
}
img.smallscreen { display: none; }
        @media only screen and (max-width: 320px) {
            img { 
                display: none; 
            }
            img.smallscreen { 
                display: inline; 
            }
        }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
h3{
	position: absolute;
	top: 350px;
	margin: 0px;
	padding: 0px;
	color: #F57513;
	font-family: Mosk;
	font-size: 50px;
	line-height: 88.1%;
	/* or 63px */

text-transform: capitalize
}
h4{
	position: absolute;
	top: 600px;
	margin: 0px;
	padding: 0px;
	color: #100499;
	font-family: Mosk;
	font-size: 30px;
}
h2{
	position: absolute;
	top: 650px;
	padding-left: 90px;
	word-spacing: 30px;
}
/*this is a footer*/
footer{
	position: absolute;
	text-align: center;
	top: 900px;
	color: white;
	background-color: #59411C;
	float: center;
	bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
}
h1{
	position: absolute;
	text-align: center;
	background-color: #59411C;
	color:#59411C;
}
