.container {
    margin-top: 30px;
    text-align: center;
    border: 1px solid burlywood;;
    color:cadetblue;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    width: 900px;
    margin-left: 210px;
    margin-right: 60px;
    border-radius: 20px;
    background-color: white;
}
table.formtable {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    width: 100px;
  }
body {
    text-align:center;
    font-weight: 10px;
}

h1{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#subheader {
    color: black;
    font-weight:bold;
    text-shadow: black;
}

select, th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}
input {
    color: darkgray;
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    width: 300px;
}
::placeholder {
    text-align: left;
    opacity: 1;
}
th {
    text-align: left;
    padding-left: 40px;
    color: black;
    font-weight: bold;
}
/* th.headertwo{ not working
    margin-top: 15px;
    /* padding-top: 15px;
} */
select {
    widows: 150px;
}

#enterClassName, .subjects, .courselevel, .exercise, .quiz {
    margin-bottom: 25px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
input:hover {
    background: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    transform: scale(1); 
}
input {
    font-size: 20px;
    color: blue;
}
::placeholder{
    padding-left: 20px;
}

.coursegroup {
    margin-bottom: 25px;
}
input:invalid, select:invalid {
    border: 2px dashed red;
}
 
input:valid {
    border: 2px solid black;
}
 
button#uploadfile {
    background-color: darkorange;
    border-radius: 10px;
    cursor: pointer;
}

button#createbutton {
    background-color: darkorange;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
#createbutton:hover, #uploadfile:hover {
    background-color: #4CAF50;
}
#createbutton, #uploadfile {
    color: white;
    font-size: 15px;
}
input[type="video"] {
    display: none;
}
input#fileupload:hover {
    background-color: #4CAF50;
    border-radius: 15px;
    cursor: pointer;
}
input#fileupload {
    border-radius: 12px;
}
label {
    color: blue;
    font-weight: bold;
}
tr {
    border-spacing: 20px;
}
form li {
    list-style: none
}